In [1]:
import pandas as pd

In [7]:
countries_table = pd.read_csv(filepath_or_buffer='C:/Users/ricardo/Desktop/PYTHON/Course Resurces-Python for Data Analysis and Visualization/09 Pandas/03 Introduction to DataFrames/top_10_countries.csv')

In [23]:
countries_table

   Rank Country / Dependency    Region     Population % of world       Date
0     1                China      Asia  1,412,600,000     17.80%  31-Dec-21
1     2                India      Asia  1,386,946,912     17.50%  18-Jan-22
2     3        United States  Americas    333,073,186      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia    271,350,000      3.42%  31-Dec-20
4     5             Pakistan      Asia    225,200,000      2.84%  01-Jul-21
5     6               Brazil  Americas    214,231,641      2.70%  18-Jan-22
6     7              Nigeria    Africa    211,401,000      2.67%  01-Jul-21
7     8           Bangladesh      Asia    172,062,576      2.17%  18-Jan-22
8     9            Russia[b]    Europe    146,171,015      1.84%  01-Jan-21
9    10               Mexico  Americas    126,014,024      1.59%  02-Mar-20

In [24]:
countries_table['Region']

0        Asia
1        Asia
2    Americas
3        Asia
4        Asia
5    Americas
6      Africa
7        Asia
8      Europe
9    Americas
Name: Region, dtype: object

In [25]:
countries_table[['Date','Rank','Region']]

        Date  Rank    Region
0  31-Dec-21     1      Asia
1  18-Jan-22     2      Asia
2  18-Jan-22     3  Americas
3  31-Dec-20     4      Asia
4  01-Jul-21     5      Asia
5  18-Jan-22     6  Americas
6  01-Jul-21     7    Africa
7  18-Jan-22     8      Asia
8  01-Jan-21     9    Europe
9  02-Mar-20    10  Americas

In [26]:
countries_table[countries_table['Region']=='Asia']

   Rank Country / Dependency Region     Population % of world       Date
0     1                China   Asia  1,412,600,000     17.80%  31-Dec-21
1     2                India   Asia  1,386,946,912     17.50%  18-Jan-22
3     4         Indonesia[b]   Asia    271,350,000      3.42%  31-Dec-20
4     5             Pakistan   Asia    225,200,000      2.84%  01-Jul-21
7     8           Bangladesh   Asia    172,062,576      2.17%  18-Jan-22

In [31]:
countries_table[(countries_table['Region']=='Asia') & (countries_table['Population']>280000000) ]

TypeError: '>' not supported between instances of 'str' and 'int'

In [58]:
countries_table['Population']

0    1,412,600,000
1    1,386,946,912
2      333,073,186
3      271,350,000
4      225,200,000
5      214,231,641
6      211,401,000
7      172,062,576
8      146,171,015
9      126,014,024
Name: Population, dtype: object

In [57]:
countries_table['Population'] = countries_table['Population'].replace(',', '')

In [56]:
countries_table['Population'] =  countries_table['Population'].astype(float)

ValueError: could not convert string to float: '1,412,600,000'